@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  --primary-color: #44a9a8;
  --secondary-color: #006e74;
  --tertiary-color: #6b6b6b;
  --primary-background: #004346;
  --secondary-background: #f3f4f1;
  --primary-border: #eeedf0;
}

h2 {
  text-transform: uppercase;
}

a {
  color: var(--primary-color);
}

/**
 *  HOME PAGE
 */

.homepage {
  height: 100vh;
  padding: 0;
  position: relative;
  transition: margin-left .5s;
}

#sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  width: 100px;
  height: 100vh;
  z-index: 100;
}

#sidebar img {
  display: block;
  cursor: pointer;
  margin: 0 auto 20px auto;
}

#sidebar .start {
  padding-top: 5vh;
}

#sidebar .start img {
  width: 30px;
}

#open-mail {
  padding-bottom: 40px;
}

#sidebar .bottom img {
  width: 30px;
  margin-top: 30px;
}

.homepage .slider {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  z-index: 20;
}

.homepage .slider .content {
  padding-top: 20vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepage .slider .content .main-logo {
  width: 300px;
}

.homepage .slider .content h1 {
  font-family: 'Noto Sans jp', sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0;
  margin-top: 5vh;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.homepage .slider .content h1 strong {
  padding: 0 15px 5px 15px;
  margin-bottom: 1.5rem;
  display: block;
  font-weight: 900;
  font-size: 3rem;
}

.homepage .slider .content h1 mark {
  text-align: center;
  color: inherit;
  font-weight: 600;
  background-color: transparent;
}

.homepage .slider .slide {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  right: 0;
  opacity: 0;
  object-fit: cover;
  animation-name: fade;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.homepage .slider .slide:nth-child(1) {
  animation-delay: 0s;
}

.homepage .slider .slide:nth-child(2) {
  animation-delay: 10s;
}

.homepage .slider .slide:nth-child(3) {
  animation-delay: 20s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/**
 *  SIDEBAR
 */
#sidebar-full {
  position: relative;
  height: 100%;
  width: 300px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: -300px;
  background-color: var(--primary-background);
  overflow-x: hidden;
  transition: 0.5s;
  color: #fff;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

#close-menu {
  font-size: .8rem;
  text-transform: none;
  position: absolute;
  right: 0px;
  top: calc(5vh + 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

#close-menu::before {
  background-image: url("img/icons/close.png");
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  content: "";
}

#sidebar-full h2 {
  padding: 0 30px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

#sidebar-full .annotation {
  text-transform: uppercase;
  padding-left: 30px;
  font-weight: 200;
  font-size: 1rem;
}

#sidebar-full ul {
  list-style: none;
  padding: 0;
  margin-top: 5vh;
  margin-bottom: 0;
}

#sidebar-full .menu li {
  cursor: pointer;
  text-transform: uppercase;
}

#sidebar-full .menu li:hover {
  background-color: var(--secondary-color);
}

#sidebar-full .menu li a {
  display: block;
  padding: 20px 30px;
  width: 100%;
  height: 100%;
}

#sidebar-full a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}

#sidebar-full a {
  color: inherit;
}

#sidebar-full .social {
  font-size: 1rem;
  font-weight: 200;
}

#sidebar-full .social li {
  padding-bottom: 10px;
  padding: 20px 30px;
}

#sidebar-full .social img {
  width: 25px;
  margin-right: 10px;
}


/**
 *  PROFILE
 */

#profile {
  min-height: 100vh;
  margin-top: 6vh;
  margin-bottom: 8vh;
}

#profile .content {
  padding: 10vh 0;
}

#profile .pic img {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
  border-radius: 1.5rem;
}

#profile .pic {
  min-width: 30vw;
  height: 100%;
}

#profile .content .bio {
  padding: 20px 0 0 20%;
}

#profile .content .bio h2 {
  font-weight: 800;
}

#profile .content .bio h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#profile .content .bio .details {
  margin: 2rem 0;
}

#profile .content .bio .certifications {
  list-style: none;
  padding: 0;
  font-weight: 700;
  font-size: 1rem;
}

#profile .content .bio .certifications li {
  padding-top: 0.6rem;
}

/**
 * SERVICES
 */
#services {
  min-height: 100vh;
  padding: 12vh 0 12vh 0;
  background-color: var(--secondary-background);
}

#services .coaching h2 {
  font-weight: 800;
  border-left: 5px solid var(--primary-color);
  padding-left: 10px;
  margin-bottom: 8vh;
}

#services .sports h3 {
  font-weight: 600;
  border: 0;
  margin-bottom: 7vh;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#services .coaching h2 strong,
#services .sports h2 strong {
  color: var(--primary-color);
}

#services .coaching {
  padding-bottom: 8vh;
}

#services .coaching .col-service {
  margin-bottom: 1.5rem;
}

#services .coaching .col-service .service {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: #fff;
  border-radius: 1rem;
  height: 100%;
  font-weight: 400;
}

#services .coaching .col-service .service .icon {
  width: 3rem;
  margin-right: 1.5rem;
}

#services .coaching .col-service .service .icon.bilan {
  width: 2.2rem;
  margin-left: 0.5rem;
  margin-right: 1.8rem;
}

#services .coaching .col-service .service .icon.check {
  width: 2rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
}

#services .sports ul {
  list-style: none;
  padding: 0;
}

#services .sports ul li {
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  line-height: 2rem;
  display: flex;
  align-items: flex-start;
}

#services .sports ul li::before {
  background-image: url("img/icons/list.png");
  background-size: 20px 10px;
  margin-top: 0.8rem;
  margin-right: 1.5rem;
  min-width: 20px;
  height: 10px;
  content: "";
}

#services .sports .more {
  display: block;
  margin-top: 6vh;
  font-size: 1.3rem;
}

#services .sports .more a {
  font-weight: 600;
  text-decoration: none;
}

#services .sports .more strong {
  display: inline-block;
  padding-right: 5px;
}

/**
 * PRICES
 */
#prices {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

#prices h2 {
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}

#prices h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

#prices .panel {
  margin-top: 5rem;
}

#prices .panel .price {
  margin: 0 10%;
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-border);
  margin-bottom: 5rem;
}

#prices .panel .price h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

#prices .panel .price .line-price {
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-start;
  min-height: 45px;
}

#prices .panel .price .line-price span {
  display: block;
}

#prices .panel .price .line-price span:first-child {
  color: var(--tertiary-color);
  width: 75%;
  display: flex;
  align-items: center;
}

#prices .panel .price .line-price span:first-child:before {
  background-image: url(img/icons/price-list.png);
  background-size: 20px 20px;
  margin-right: 25px;
  width: 20px;
  height: 20px;
  content: "";
}

#prices .panel .price .line-price .amount {
  display: block;
  text-align: left;
}

#prices .panel .price .line-price .amount span:last-child {
  font-size: .8rem;
}

#prices .free,
#prices .more {
  margin-bottom: 4rem;
}

#prices .free span,
#prices .more span {
  text-align: center;
  display: block;
  font-weight: 200;
  margin-bottom: 1rem;
}

#prices .free span strong {
  font-weight: 600;
}

#prices .payments span {
  text-align: center;
  display: block;
  font-weight: 200;
  margin-bottom: 1rem;
}

#prices .payments span strong {
  display: block;
  text-align: center;
  font-weight: 600;
}

#prices .payments .logos {
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 3rem 0;
}

#prices .payments .payment {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#prices .payments .logos img {
  width: 40px;
  margin: 0 2rem;
}

#prices .payments .logos span {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
}

/**
 * CONTACT
 */
#contact {
  position: relative;
  background: url("img/map.jpg") no-repeat top center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  z-index: 5;
  padding: 10vh 0;
}

#contact .col-contact {
  background-color: #fff;
  margin: 0 10vw 5vh 5vw;
  padding: 3rem;
  border-radius: 1rem;
}

#contact .content:first-child {
  margin-bottom: 3.5rem;
}

#contact .content h2 {
  font-weight: 800;
  font-size: 1.5rem;
}

#contact .content h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

#contact .content .local {
  margin-bottom: 3rem;
}

#contact .content .local h3 {
  margin-bottom: 1rem;
}

#contact .content .crossfit h3 {
  margin-bottom: 2rem;
}

#contact .content ul {
  list-style: none;
  padding: 0;
  margin-left: 1rem;
}

#contact .content ul li {
  margin-bottom: 0.4rem;
}

#contact .content ul li.open {
  margin-top: 1rem;
  font-weight: 200;
  display: flex;
  align-items: center;
}

#contact .content ul li.open img {
  width: 12px;
  margin-right: 0.8rem;
}

#contact .content .social {
  width: 20px;
  margin-top: 2rem;
  margin-right: 0.5rem;
}

#contact .content .social li {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 1.4rem;
}

#contact .content .social a {
  text-decoration: none;
}

#contact .content .social li img {
  width: 20px;
  height: 20px;
  margin-right: 0.8rem;
}

/**
 *  FOOTER
 */
footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  font-size: 1.1rem;
  padding: 0 0 20px 0 !important;
  margin-right: 10vw;
}

footer span {
  display: block;
}

footer span:last-child {
  padding-top: 10px;
}

footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
}

footer a:hover {
  color: var(--primary-color);
}

#elevator {
  position: fixed;
  right: 50px;
  bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #fff;
  padding: 15px;
  border-radius: 100%;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.25s ease-in;
  -webkit-box-shadow: 7px 7px 10px 0px rgba(243,244,241);
  box-shadow: 7px 7px 10px 0px rgba(243,244,241);
}

#elevator::before {
  background-image: url("img/icons/elevator.png");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  content: "";
}

#elevator.visible {
  opacity: 1;
  transition: opacity 0.25s ease-in;
}

/**
 *  LEGAL MENTIONS
 */
.legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5vh;
  min-height: 100vh;
}

.legal h2 {
  margin-bottom: 1rem;
}

.legal .host ul {
  list-style: none;
  padding: 0;
}

.legal a {
  color: var(--primary-color);
  text-decoration: none;
}

.legal a:hover {
  color: var(--primary-color);
}

.legal .logo {
  display: block;
  margin: auto;
  max-width: 200px;
  margin-bottom: 50px;
}

.legal section {
  margin-bottom: 3rem;
}

.legal .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vh 0 30px 0;
}

.legal footer span {
  margin: 0 !important;
}


/**
 *  MEDIA QUERIES
 */
.mobile, .no-map {
  display: none;
}

@media screen and (max-width: 768px) {

  body.no-mobile-scroll {
    position: fixed;
    overflow: hidden;
  }

  /**
   *  HOME PAGE
   */

  .desktop {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .homepage .slider.mobile .content {
    padding-top: 15vh;
  }

  .homepage .slider.mobile .content .main-logo {
    width: 200px;
  }

  .homepage .slider.mobile .content h1 {
    padding: 0 10vw;
  }

  .homepage .slider.mobile .content h1 strong {
    font-size: 2.2rem;
    padding: 0;
    margin-bottom: 0.5rem;
  }

  .homepage .slider.mobile .content h1 mark {
    font-size: 1.5rem;
    font-weight: 700;
  }

  /**
   *  SIDEBAR
   */
  #sidebar-full {
    position: fixed;
    width: 100vw;
    max-height: 100vh;
    left: -100vw;
    overflow: hidden;
  }

  /**
   *  PROFILE
   */
  #profile {
    margin-bottom: 0;
  }

  #profile .pic {
    padding: 5vh 0;
    padding-bottom: 10vh;
  }

  #profile .pic img {
    border-radius: 0;
    width: 100%;
  }

  #profile .col-bio {
    padding-left: 7vw;
    padding-right: 7vw;
  }

  #profile .col-bio .content {
    padding-bottom: 5vh;
  }

  /**
   *  SERVICES
   */
  #services .container {
    padding: 0 7vw;
  }

  #services .coaching .col-service .service {
    min-height: 120px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  #services .sports h3 {
    font-weight: 800;
  }

  #services .sports ul {
    margin-bottom: 0;
  }

  #services .sports ul li {
    padding-bottom: 1rem;
  }

  #services .sports .more strong {
    display: block;
    margin-bottom: 10px;
  }

  /**
   *  PRICES
   */
  #prices .panel .price {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 4rem;
    padding: 2rem;
  }

  #prices .panel .price h4 {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  #prices .panel .price .line-price {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
  }

  #prices .panel .price .line-price .amount {
    margin-top: 5px;
    margin-left: 45px;
  }

  #prices .free, #prices .more, #prices .payments {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #prices .payments .logos {
    padding: 0;
    width: 100%;
    flex-wrap: wrap;
  }

  #prices .payments .logos .payment {
    width: 50%;
    margin: 20px 0;
  }

  /**
   *  CONTACT
   */
   #contact {
    padding: 20vh 0 0 0 !important;
  }

  /**
   *  FOOTER
   */
  footer {
    position: relative;
    display: block;
    text-align: center;
    height: auto;
    margin: 50px 0 10px 0 !important;
  }

}

@media screen and (max-width: 1200px) {

  #profile {
    margin-bottom: 0;
  }

  #profile .pic {
    padding: 5vh 0;
    padding-bottom: 10vh;
  }

  #profile .pic img {
    border-radius: 0;
    width: 100%;
  }

  #profile .col-bio {
    padding-left: 7vw;
    padding-right: 7vw;
  }

  #profile .col-bio .content {
    padding-bottom: 5vh;
  }

  #profile .content .bio {
    padding: 0;
  }

  #profile .col-pic {
    order: 2;
    padding: 0;
  }

  #prices .panel .price {
    margin: 0 10px 5rem 10px;
  }

  #contact {
    padding: 20vh 0 10vh 0;
    background: url("img/mobile/map.jpg") no-repeat center center;
  }

  #contact .col-contact {
    border-radius: 0;
    width: 100%;
    padding-left: 7vw;
    padding-right: 7vw;
    margin: 0;
    margin-bottom: 10vh;
  }

  .no-map {
    display: block;
  }

  .map {
    display: none;
  }

}